{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css"
    integrity="sha384-oZ8wz9pe4uP0FRL5S2fKfr4F2WJAVbYx4+MHAfS+gcXsQUlAA+P9UfAeg+d5P8J" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="jumbotron jumbotron-fluid bg-light shadow-sm p-4 mb-4">
    <div class="container">
        <h1 class="display-4">Welcome {{ user.username }}</h1>
        <p class="lead">
            This is a <b>user registration and login system</b> built with Django
        </p>
        <hr class="my-4">
        <div class="d-flex justify-content-start">
            <p class="lead">
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'users-profile' %}" role="button">Profile</a>
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
                {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="path_to_feature_image_1" class="card-img-top" alt="Feature 1">
                <div class="card-body">
                    <h5 class="card-title">Feature 1</h5>
                    <p class="card-text">Some quick example text to build on the feature and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="path_to_feature_image_2" class="card-img-top" alt="Feature 2">
                <div class="card-body">
                    <h5 class="card-title">Feature 2</h5>
                    <p class="card-text">Some quick example text to build on the feature and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card border-0 shadow">
                <img src="path_to_feature_image_3" class="card-img-top" alt="Feature 3">
                <div class="card-body">
                    <h5 class="card-title">Feature 3</h5>
                    <p class="card-text">Some quick example text to build on the feature and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}